/* @author: Maiko Cheng, Franek Halwa*/


/* color theme: #0B0C10, #1F2833, #C5C6C7, #66FCF1, #45A29E*/


/* Choosing font */

html {
    font-family: "Helvetica Neue", Helvetica, Arial;
}

:root{
    --main-bg-color: rgb(61, 149, 179);
}

/* Making the title of the website */

h1.title {
    align-self: auto;
    font-size: 34px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background-color: var(--main-bg-color);
    background-size: cover;
    padding: auto;
    margin: auto;
    margin-left: 145px;
    margin-top: 15px;
    width: auto;
    border-radius: 3px;
    float: center;
    top: 110%;
}

#main_text {
    color: #eafffe;
    margin-left: 145px;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    padding: auto;
    margin-top: 39%;
    width: 45.6%;
}

#main_text2 {
    color: #eafffe;
    margin-left:54.1%;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    padding: auto;
    margin-top: -3.8%;
    width: 45.6%;
}


img {
    max-width: 90%;
}


/* Making all paragraphs */

p {
    color: rgb(255, 255, 255);
    margin-left: 2px;
}


/* Background color */

body {
    background-color: #272727;
    height: 100%;
    background-size:cover;

}



/* Making the grid for ease */

.row::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

.sidenav {
    height: 100%;
    width: 145px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    text-align: center;
}

.sidenav a:hover {
    color: #ffa5c3;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/* Rectangle */

button{
    position: absolute;
    margin: auto;
    height: 50px;
    top: 65px;
    background-color: rgb(255, 200, 87);
    color:#ffffff;
    text-align: center;
    white-space:normal !important; 
    word-wrap: break-word;
    border-radius: 5px;
    cursor: pointer;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

button:hover{
    background-color:rgb(255, 150, 199);
    transition: all 0.8s;
}

#home{
    left: 153px;
    width: 50px;
    background-image: url(Vector.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

#homebutton{
    display: none;
}

#info{
    left: 213px;
    width: 50px;
    background-image: url(Vectorinfo.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

#upload{ 
    left: 273px;
    width: 180px;
    background-image: url(Vectordata.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 5%;
    font-size: 20px;
    text-align: center;
}

#fullscreen1{
    left: 50%;
    top: 137px;
    width: 50px;
    background-image: url(Group\ 1.png);
    background-repeat: no-repeat;
    background-position: 1.4px;
    font-size: 20px;
    text-align: center;
    z-index: 100;
}

#fullscreen2{
    left: 96%;
    top: 137px;
    width: 50px;
    background-image: url(Group\ 1.png);
    background-repeat: no-repeat;
    background-position: 1.4px;
    z-index: 100;
}

#fullscreenclose{
    left: 96%;
    top: 137px;
    background-image: url(icon-close-512.png);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    width: 50px;
    z-index:1000;
    display:none;
}

#data{
    margin-left: 24px;
    margin-top: 12px;
    font-size: 22px;
}

.graphsa{
    position: absolute;
    margin:auto;
    margin-left:145px;
    margin-top:70px;
    background:rgb(8,20,28,0.8);
    width: 45.5%;
    height: 600px;
    border-radius: 3px;
    border-style: groove;
    border-width: 2px;
    border-color: white;
    color:white;
    flex-wrap: nowrap;
    justify-content: left;
    
}

.axisx text{
    fill:white;
}

.axisx line{
    stroke:white;
}

.axisy text{
    fill:white;
}

.axisy line{
    stroke:white;
}
.graphsb{
    position: absolute;
    margin:auto;
    margin-left:53.7%;
    margin-top:70px;
    background:rgb(8,20,28,0.8);
    width: 45.5%;
    height: 600px;
    border-radius: 3px;
    border-style: groove;
    border-width: 2px;
    border-color: white;
    flex-wrap: nowrap;
}

.nameb{
    position: absolute;
    margin:auto;
    margin-left:54.3%;
    margin-top:80px;
    background-color: var(--main-bg-color);
    border-color:#0B0C10;
    min-width: 100px;
    max-height: 50px;
    border-radius: 3px;
    z-index:1000;
    border-style: groove;
    border-width: 2px;
    
}

.namea{
    position: absolute;
    margin:auto;
    margin-left:155px;
    margin-top:80px;
    background-color: var(--main-bg-color);
    border-color:#0B0C10;
    min-width: 100px;
    max-height: 50px;
    border-radius: 3px;
    z-index:1000;
    border-style: groove;
    border-width: 2px;
}

#names{
    font-size: 20px;
    margin-top:15px;
    margin-left:7px;
    margin-right: 7px;
}



.close{
    color:rgb(0, 0, 0);
    float: right;
    top: 1px;
    font-size: 28px;  
    font-weight: bold;
}

.close:hover,.close:focus{
    color:black;
    text-decoration:none;
    cursor: pointer;
}

#container {
    min-width:800px;
    width: auto !important;
    width:800px;
}

#infotext{
    color: #eafffe;
    margin-left: 145px;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    padding: auto;
    margin-top: 4%;
}