/* @author: Maiko Cheng, Franek Halwa*/


/* color theme: #0B0C10, #1F2833, #C5C6C7, #66FCF1, #45A29E*/


/* Choosing font */

html {
    font-family: "Helvetica Neue", Helvetica, Arial;
}

:root{
    --main-bg-color: rgb(61, 149, 179);
}

/* Making the title of the website */

h1.title {
    align-self: auto;
    font-family:Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background-color: var(--main-bg-color);
    background-size: cover;
    padding: auto;
    margin: auto;
    margin-left: 7.55%;
    margin-top: 0.6%;
    width: auto;
    height: 2.24%;
    min-height: 2.24%;
    border-radius: 3px;
    float: center;
    top: 110%;
    border-radius: 3px;
    border-width: 2px;
    border-style:groove;
    border-color: #ffffff;
    background-image: radial-gradient(var(--main-bg-color), rgb(92, 133, 223));
}

#main_text {
    color: #ffffff;
    margin-left: 7.55%;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    padding: auto;
    margin-top: 36%;
    width: 45.9%;
    height: 20%;
    border-width: 2px;
    border-style:groove;
    border-color: #ffffff;
    background-image: radial-gradient(var(--main-bg-color), rgb(92, 133, 223));
    font-size: 1.5em;
    
}

#main_text2 {
    color: #ffffff;
    margin-left:54.15%;
    background-color: var(--main-bg-color);
    background-image: radial-gradient(var(--main-bg-color), rgb(92, 133, 223));
    border-radius: 5px;
    padding: auto;
    margin-top: -7.2%;
    width: 45.6%;
    border-width: 2px;
    border-style:groove;
    border-color: #ffffff;
    font-size: 1.5em;
}


img {
    max-width: 90%;
}


/* Making all paragraphs */

p {
    color: rgb(255, 255, 255);
    margin-left: 2px;
}


/* Background color */

body {
    background-color: #131313;
    background-image: url(texture.jpg);
    height: 100%;
    background-size:cover;

}



/* Making the grid for ease */

.row::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

.sidenav {
    height: 100%;
    width: 7.55%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    background-image: radial-gradient(var(--main-bg-color), rgb(92, 133, 223));
    overflow-x: hidden;
    padding-top: 20px;
    border-width: 2px;
    border-style:groove;
    border-color: #ffffff;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    text-align: center;
}

.sidenav a:hover {
    color: #ffa5c3;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/* Rectangle */

button{
    position: absolute;
    margin: auto;
    height: 50px;
    top: 65px;
    background: rgb(255, 200, 87);
    color:#fff789;
    border-color:#ffffff;
    text-align: center;
    white-space:normal !important; 
    word-wrap: break-word;
    border-radius: 5px;
    cursor: pointer;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 2;
    margin: 0px 0px;

    transition: 0.2s transform ease-out;
    will-change: transform;
    overflow: hidden;
}


button:hover::after{
    transform: translate(5, 0)
}
button:hover{
    border: 2px groove;
    background-image: linear-gradient(to bottom right,#e66465,#7783ff);
    transform: scale(1.05);
    will-change: transform;
    color: #fff;
    font-size: 300px;
}


#home{
    left: 7.96%;
    min-width: 50px;
    background-image: url(Vector.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
#home2{
    left:85px;
    top:5px;
    min-width: 50px;
    color:black;
    background-image: radial-gradient(rgb(0rgb(46, 46, 46) 0),#fff);
    border-color:#272727;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

#home:before, #home:after{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
#home2:before, #home2:after{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}

#homebutton{
    display: none;
}
#homebutton2{
    display: none;
}

#info{
    left: 11.09%;
    width: 50px;
    background-image: url(Vectorinfo.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

#upload{ 
    left: 273px;
    width: 180px;
    background-image: url(Vectordata.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 5%;
    font-size: 20px;
    text-align: center;
}

#fullscreen1{
    left: 50%;
    top: 137px;
    width: 50px;
    background-image: url(Group\ 1.png);
    background-repeat: no-repeat;
    background-position: 1.4px;
    font-size: 20px;
    text-align: center;
    z-index: 100;
}

#fullscreen2{
    left: 96%;
    top: 137px;
    width: 50px;
    background-image: url(Group\ 1.png);
    background-repeat: no-repeat;
    background-position: 1.4px;
    z-index: 100;
}

#fullscreenclose{
    left: 96%;
    top: 14%;
    background-image: url(icon-close-512.png);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    width: 50px;
    z-index:1000;
    display:none;
}

#data{
    margin-left: 24px;
    margin-top: 12px;
    font-size: 22px;
}

.graphsa{
    position: absolute;
    margin:auto;
    margin-left:7.55%;
    margin-top:70px;
    background:rgba(100, 99, 99, 0.411);
    min-width: 45.5%;
    width: 45.5%;
    height: 61.5%;
    border-radius: 3px;
    border-style: groove;
    border-width: 2px;
    border-color: white;
    color:white;
    align-content: center;
    align-items: center;
    flex-grow: 1;
    
}

.axisx text{
    fill:white;
}

.axisx line{
    stroke:white;
}

.axisy text{
    fill:white;
}

.axisy line{
    stroke:white;
}
.graphsb{
    display:flex;
    position: absolute;
    margin:auto;
    margin-left:53.7%;
    margin-top:70px;
    background:rgba(100, 99, 99, 0.411);
    width: 45.5%;
    height: 61.5%;
    border-radius: 3px;
    border-style: groove;
    border-width: 2px;
    border-color: white;
    flex-wrap: wrap;
    flex-grow: 6;
    align-items: center;
}

.nameb{
    display: none;
    position: absolute;
    margin:auto;
    margin-left:54.3%;
    margin-top:80px;
    background-color: var(--main-bg-color);
    border-color:#ffffff;
    min-width: 100px;
    max-height: 50px;
    border-radius: 3px;
    z-index:1000;
    border-style: groove;
    border-width: 2px;
    background-image: radial-gradient(var(--main-bg-color), rgb(92, 133, 223));
    
}

.namea{
    display: none;
    position: absolute;
    margin:auto;
    margin-left:155px;
    margin-top:80px;
    background-color: var(--main-bg-color);
    border-color:#ffffff;
    min-width: 100px;
    max-height: 50px;
    border-radius: 3px;
    z-index:1000;
    border-style: groove;
    border-width: 2px;
    background-image: radial-gradient(var(--main-bg-color), rgb(92, 133, 223));
}

#names{
    font-size: 20px;
    margin-top:15px;
    margin-left:7px;
    margin-right: 7px;
}



.close{
    color:rgb(0, 0, 0);
    float: right;
    top: 1px;
    font-size: 28px;  
    font-weight: bold;
}

.close:hover,.close:focus{
    color:black;
    text-decoration:none;
    cursor: pointer;
}

#container {
    min-width:800px;
    width: auto !important;
    width:800px;
}

#checkbox{
    display: none;
    z-index: 10000000;
    position:absolute;
    margin-left: 0px;
    margin-top: 130px;
    width: 7.5%;
    position: absolute;
    z-index: 2;
    top: 0;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 7.55%;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgb(255, 200, 87);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

#infotot{
    display:flex;
    color: white;
    background:transparent;
    z-index: 0;
    margin-left:auto;
    margin-top: 15%;
    width: 100%;
    height:37vw;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#who{
    color:white;
    z-index: 2;
    width:100%;
    height:100%;
    border-radius: 20px;
}

#about{
    color:white;
    z-index: 2;
    width:100%;
    height:100%;
    border-radius: 20px;
}

#why{
    color:white;
    z-index: 2;
    width:100%;
    height:100%;
    border-radius: 20px;
}
#whoinner{
    position: relative;
    background: radial-gradient(rgb(255, 133, 133),rgb(255, 90, 90));
    width: 29vw;
    height: 37vw;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 20px;
    cursor: none;
    box-shadow:5px 10px #ffffff;

}
#aboutinner{
    position: relative;
    background: radial-gradient(rgb(180, 143, 255),
    rgb(160, 100, 255));
    width: 29vw;
    height: 37vw;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 20px;
    cursor: none;
    box-shadow:5px 10px #ffffff;
}
#whyinner{
    position: relative;
    background: radial-gradient(rgb(125, 144, 255),rgb(70, 98, 255));
    width: 29vw;
    height: 37vw;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 20px;
    cursor: none;
    box-shadow:5px 10px #ffffff;
}
#whoback{
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    transform: rotateY(180deg);
    border-radius: 20px;
}

#aboutback{
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    transform: rotateY(180deg);
    border-radius: 20px;
}

#whyback{
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    transform: rotateY(180deg);
    border-radius: 20px;
}

h1.infoheader{
    text-align: center;
    margin-top: 60%;
    margin-left:5px;
    margin-right:5px;
    font-size: 2vw;

}
h1.infoback{
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
    text-align: center;
    font-size: 1.7vw;
}
#flipwho:active #whoinner{
    transform:rotateY(180deg);
}

#who, #whoback{
    position: absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
}

#flipabout:active #aboutinner{
    transform:rotateY(180deg);
}

#why, #whyback{
    position: absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
}

#flipwhy:active #whyinner{
    transform:rotateY(180deg);
}

#about, #aboutback{
    position: absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
}

#flipabout{
    perspective: 1000px;
    color:white;
    width: 25%;
    height:20%;
    margin:auto;
    display:flex;
    align-items: center;
    margin-top:5%;
}

#flipwhy{
    perspective: 1000px;
    color:white;
    width: 25%;
    height:20%;
    margin:auto;
    display:flex;
    align-items: center;
    margin-top:5%;
}

#flipwho{
    perspective: 1000px;
    color:white;
    width: 25%;
    height:20%;
    margin:auto;
    margin-top:5%;
    display:flex;
    align-items: center;
}

#infobg{
    background-image: url(texture.jpg);
    width:99%;
    height:100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#homebuttontext{

    color:white;
    font-size:20px;
    margin:auto;
}

#welcome{
    width:100%;
    height:7vw;
    display: flex;
    justify-content: center;
}

#welcometext{
    width:100%;
    color:white;
    font-size:50px;
    text-align: center;
    margin:auto;
}

#welcomebuttons{
    width:100%;
    display: flex;
    height: 40vw;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

#homebutton3{
    display:none;
}

#home3{
    position: relative;
    margin-left: 40px;
    margin-right:50px;
    margin-top:0px;
    margin-bottom:7vw;
    width:30vw;
    height:37vw;
    color:black;
    background-color:rgb(125, 144, 255);
    border-color:#272727;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

#homebutton4{
    display:none;
}

#home4{
    position: relative;
    margin-bottom:7vw;
    margin-top:0px;
    margin-left: 50px;
    margin-right:40px;
    width: 30vw;
    height:37vw;
    color:black;
    background-color:rgb(125, 144, 255);
    border-color:#272727;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

#homebutton5{
    display:none;
}
#home5{
    left: 5px;
    top:5px;
    min-width: 50px;
    color:black;
    background-image: radial-gradient(rgb(0rgb(46, 46, 46) 0),#fff);
    border-color:#272727;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.transition-fade{
    opacity: 1;
    transition: 4s;

}

html.is-animating .transition-fade{
    opacity: 0;
}

#flipmetext{
    color:white;
    font-size:1vw;
}

#why{
    transform:rotateX(0deg);
}

#who{
    transform:rotateX(0deg);
}

#about{
    transform:rotateX(0deg);
}

#CEOspan{
    color: #8dd3c7;
}

#Directorspan{
    color: #ffffb3;   
}

#Employeespan{
    color: #bebada;
}

#InHouseLawyerspan{
    color: #fb8072;
}

#Managerspan{
    color: #80b1d3;
}

#ManagingDirectorspan{
    color: #fdb462;
}

#Presidentspan{
    color: #b3de69;
}

#Traderspan{
    color:#fccde5;
}

#Unknownspan{
    color:#d9d9d9;
}

#VicePresidentspan{
    color: #bc80bd;
}
