/* @author: Maiko Cheng, Franek Halwa*/


/* color theme: #0B0C10, #1F2833, #C5C6C7, #66FCF1, #45A29E*/


/* Choosing font */

html {
    font-family: "Helvetica Neue", Helvetica, Arial;
}

:root{
    --main-bg-color: rgb(61, 149, 179);
}

/* Making the title of the website */

h1.title {
    align-self: auto;
    font-family:Helvetica;
    font-size: 3vmin;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background-color: var(--main-bg-color);
    background-size: cover;
    padding: auto;
    margin: auto;
    margin-left: 7.55%;
    margin-top: 0.6%;
    margin-bottom: 1vw;
    width: auto;
    height: 4%;
    min-height: 4%;
    border-radius: 3px;
    border-radius: 3px;
    border-width: 2px;
    border-style:groove;
    border-color: #ffffff;
    background-image: radial-gradient(var(--main-bg-color), rgb(92, 133, 223));
}

#main_text {
    color: #ffffff;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    padding: auto;
    width: 49.5%;
    height: 100%;
    border-width: 2px;
    border-style:groove;
    border-color: #ffffff;
    background-image: radial-gradient(var(--main-bg-color), rgb(92, 133, 223));
    font-size: 3vmin;
    
}

#main_text2 {
    color: #ffffff;
    margin-left:20px;
    height:100%;
    background-color: var(--main-bg-color);
    background-image: radial-gradient(var(--main-bg-color), rgb(92, 133, 223));
    border-radius: 5px;
    padding: auto;
    width: 49.5%;
    border-width: 2px;
    border-style:groove;
    border-color: #ffffff;
    font-size: 3vmin;
    align-self: right;
}




img {
    max-width: 90%;
}


/* Making all paragraphs */

p {
    color: rgb(255, 255, 255);
    margin-left: 5px;
}


/* Background color */

body {
    background-color: #131313;
    background-image: url(texture.jpg);
    height: 100vh;
    background-size:cover;

}



/* Making the grid for ease */

.row::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

.sidenav {
    height: 100%;
    width: 7.55%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    background-image: radial-gradient(var(--main-bg-color), rgb(92, 133, 223));
    overflow-x: hidden;
    padding-top: 20px;
    border-width: 2px;
    border-style:groove;
    border-color: #ffffff;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 3vmin;
    color: #ffffff;
    display: block;
    text-align: center;
}

.sidenav a:hover {
    color: #ffa5c3;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/* Rectangle */

button{
    height: 2.6vw;
    background: rgb(255, 200, 87);
    color:#fff789;
    border-color:#ffffff;
    text-align: center;
    white-space:normal !important; 
    word-wrap: break-word;
    border-radius: 5px;
    cursor: pointer;
    /* Inside Auto Layout */

    transition: 0.2s transform ease-out;
    will-change: transform;
    overflow: hidden;
}


button:hover::after{
    transform: translate(5, 0)
}
button:hover{
    border: 2px groove;
    background-image: linear-gradient(to bottom right,#e66465,#7783ff);
    transform: scale(1.05);
    will-change: transform;
    color: #fff;
    font-size: 300px;
}


#home{
    width: 2.6vw;
    background-image: url(Vector.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
#home2{
    width: 10vw;
    height: 2.6vw;
    color:black;
    background-image: radial-gradient(rgb(0rgb(46, 46, 46) 0),#fff);
    border-color:#272727;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

#home:before, #home:after{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
#home2:before, #home2:after{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}

#homebutton{
    display: none;
}
#homebutton2{
    display: none;
}

#info{
    margin-right: 10%;
    width: 2.6vw;
    background-image: url(Vectorinfo.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

#upload{ 
    width: 9.4vw;
    background-image: url(Vectordata.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 5%;
    font-size: 20px;
    text-align: center;
}

#fullscreen1{
    width: 2.6vw;
    height:2.6vw;
    background-image: url(Group\ 1.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 50%;
}

#fullscreen2{
    width: 2.6vw;
    height:2.6vw;
    background-image: url(Group\ 1.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 90%;
}

#fullscreenclose{
    position:absolute;
    background-image: url(icon-close-512.png);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    width: 2.7vw;
    z-index:1000;
    display:none;
}

#data{
    margin-left: 1.25vw;
    margin-top: 1.3vh;
    font-size: 2vmin;
}

.graphsa{
    display:flex;
    margin:auto;
    margin-left: 0px;
    background:rgba(100, 99, 99, 0.411);
    width: 49.5%;
    height: 100%;
    border-radius: 3px;
    border-style: groove;
    border-width: 2px;
    border-color: white;
    color:white;
    
}

.axisx text{
    fill:white;
}

.axisx line{
    stroke:white;
}

.axisy text{
    fill:white;
}

.axisy line{
    stroke:white;
}
.graphsb{ 
    display:flex;
    margin:auto;
    flex-direction: row;
    margin-right: 0px;
    background:rgba(100, 99, 99, 0.411);
    width: 49.5%;
    height:100%;
    border-radius: 3px;
    border-style: groove;
    border-width: 2px;
    border-color: white;
}

.nameb{
    display: none;
    position: absolute;
    background-color: var(--main-bg-color);
    border-color:#ffffff;
    min-width: 5vw;
    max-width: 40vw;        
    max-height: 6vh;
    border-radius: 3px;
    border-style: groove;
    border-width: 2px;
    background-image: radial-gradient(var(--main-bg-color), rgb(92, 133, 223));
    
}

.namea{
    position:absolute;
    display: none;
    background-color: var(--main-bg-color);
    border-color:#ffffff;
    min-width: 5vw;
    max-width: 40vw;
    max-height: 6vh;
    border-radius: 3px;
    font-size: 2vmin;
    border-style: groove;
    border-width: 2px;
    background-image: radial-gradient(var(--main-bg-color), rgb(92, 133, 223));
}

#names{
    font-size: 2.4vmin;
    margin-top:15px;
    margin-left:7px;
    margin-right: 7px;
}



.close{
    color:rgb(0, 0, 0);
    float: right;
    top: 1px;
    font-size: 28px;  
    font-weight: bold;
}

.close:hover,.close:focus{
    color:black;
    text-decoration:none;
    cursor: pointer;
}

#container {
    min-width:800px;
    width: auto !important;
    width:800px;
}

#checkbox{
    display: none;
    z-index: 10000000;
    position:absolute;
    margin-left: 0px;
    margin-top: 130px;
    width: 2vmin;
    position: absolute;
    z-index: 2;
    top: 0;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.8vmin;
    font-weight: 700;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 7.55%;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    left: 9px;
    top: 0px;
    height: 2vmin;
    width: 2vmin;
    background-color: #fff;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgb(255, 200, 87);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 3px;

  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    margin-right: 1vmin;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

#infotot{
    display:flex;
    color: white;
    background:transparent;
    z-index: 0;
    margin-left:auto;
    margin-top: 15%;
    width: 100%;
    height:37vw;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#who{
    color:white;
    z-index: 2;
    width:100%;
    height:100%;
    border-radius: 20px;
}

#about{
    color:white;
    z-index: 2;
    width:100%;
    height:100%;
    border-radius: 20px;
}

#why{
    color:white;
    z-index: 2;
    width:100%;
    height:100%;
    border-radius: 20px;
}
#whoinner{
    position: relative;
    background: radial-gradient(rgb(255, 133, 133),rgb(255, 90, 90));
    width: 29vw;
    height: 37vw;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 20px;
    box-shadow:5px 10px #ffffff;

}
#aboutinner{
    position: relative;
    background: radial-gradient(rgb(180, 143, 255),
    rgb(160, 100, 255));
    width: 29vw;
    height: 37vw;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 20px;
    box-shadow:5px 10px #ffffff;
}
#whyinner{
    position: relative;
    background: radial-gradient(rgb(125, 144, 255),rgb(70, 98, 255));
    width: 29vw;
    height: 37vw;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 20px;
    box-shadow:5px 10px #ffffff;
}
#whoback{
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    transform: rotateY(180deg);
    border-radius: 20px;
}

#aboutback{
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    transform: rotateY(180deg);
    border-radius: 20px;
}

#whyback{
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    transform: rotateY(180deg);
    border-radius: 20px;
}

h1.infoheader{
    text-align: center;
    margin-top: 60%;
    margin-left:5px;
    margin-right:5px;
    font-size: 2vw;

}
h1.infoback{
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
    text-align: center;
    font-size: 1.7vw;
}
#flipwho:active #whoinner{
    transform:rotateY(180deg);
}

#who, #whoback{
    position: absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
}

#flipabout:active #aboutinner{
    transform:rotateY(180deg);
}


#why, #whyback{
    position: absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
}

#flipwhy:active #whyinner{
    transform:rotateY(180deg);
}

#about, #aboutback{
    position: absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
}

#flipabout{
    perspective: 1000px;
    color:white;
    width: 25%;
    height:20%;
    margin:auto;
    display:flex;
    align-items: center;
    margin-top:5%;
}

#flipwhy{
    perspective: 1000px;
    color:white;
    width: 25%;
    height:20%;
    margin:auto;
    display:flex;
    align-items: center;
    margin-top:5%;
}

#flipwho{
    perspective: 1000px;
    color:white;
    width: 25%;
    height:20%;
    margin:auto;
    margin-top:5%;
    display:flex;
    align-items: center;
}

#infobg{
    background-image: url(texture.jpg);
    width:99%;
    height:100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#homebuttontext{

    color:white;
    font-size:20px;
    margin:auto;
}

#welcome{
    width:100%;
    height:7vw;
    display: flex;
    justify-content: center;
    background: url(dbl photo.png);
}

#welcometext{
    width:100%;
    color:white;
    font-size:50px;
    text-align: center;
    margin:auto;
}

#welcomebuttons{
    width:100%;
    display: flex;
    height: 40vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

#homebutton3{
    display:none;
}

#home3{
    position: relative;
    margin-left: 40px;
    margin-right:50px;
    margin-top:0px;
    width:37vw;
    height:37vw;
    color:black;
    background-color:rgb(125, 144, 255);
    border-color:#272727;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

#homebutton4{
    display:none;
}

#home4{
    position: relative;
    margin-top:0px;
    margin-left: 50px;
    margin-right:40px;
    width: 37vw;
    height:37vw;
    color:black;
    background-color:rgb(125, 144, 255);
    border-color:#272727;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

#homebutton5{
    display:none;
}
#home5{
    left: 5px;
    top:5px;
    min-width: 50px;
    color:black;
    background-image: radial-gradient(rgb(0rgb(46, 46, 46) 0),#fff);
    border-color:#272727;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.transition-fade{
    opacity: 1;
    transition: 4s;

}

html.is-animating .transition-fade{
    opacity: 0;
}

#flipmetext{
    color:white;
    font-size:1vw;
}

#why{
    transform:rotateX(0deg);
}

#who{
    transform:rotateX(0deg);
}

#about{
    transform:rotateX(0deg);
}

.tooltip{
    z-index: 1000;
}

#defset{
    left: 24%;
    width: 9.4vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 2%;
    font-size: 20px;
    text-align: center;
    color: white;
    background-image:  url(28842.png);
}

#defset:hover{
    transition: ease-in-out 0.2s;   
}

.maindiv{
    display:flex;
    flex-direction: column;
    margin-left: 7.6%;  
    height: 100%;
    width: auto;
    align-content:space-between;
}

.textdiv{
    display:flex;
    margin-top: 3vh;    
    align-items: left;
    height:auto;
    justify-content: space-between;
}

.visualizationdiv{
    display:flex;
    margin-top:2vh;
    width:100%;
    height:70%;
}

.buttonsbar{
    justify-content: left;
    width:49.5%;
    display:flex;
    height:5%;
    margin-bottom: 0.5vw;
}

.btn{
    margin-right:1%;
}

.fullbut{
    position: absolute;
    width:2.7vw;
    height:2.7vw;
    margin-top: 1vh;
    margin-left:41.8%;
}


/*#CEOspan{
    color: #8dd3c7;
}

#Directorspan{
    color: #ffffb3;   
}

#Employeespan{
    color: #bebada;
}

#InHouseLawyerspan{
    color: #fb8072;
}

#Managerspan{
    color: #80b1d3;
}

#ManagingDirectorspan{
    color: #fdb462;
}

#Presidentspan{
    color: #b3de69;
}

#Traderspan{
    color:#fccde5;
}

#Unknownspan{
    color:#d9d9d9;
}

#VicePresidentspan{
    color: #bc80bd;
}
*/
